.welcome,
.welcome * {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Full viewport height */
    margin: 0;
    /* Removes default margin */
    padding: 0;
    position: relative;
    /* Removes default padding */
    width: 100vw;
    overflow: hidden;
    overflow-x: hidden;
}
.welcome {
    width: 100vw;
    overflow: hidden;
    overflow-x: hidden;
    background-color: #ffffff;
}
.shapes {
    position: absolute;
    inset: 0;
}

.ellipse-3 {
    background: linear-gradient(53.25deg,
            rgba(199, 47, 248, 0) 0%,
            rgba(199, 47, 248, 1) 100%);
    border-radius: 50%;
    width: 211.47%;
    height: 100.63%;
    position: absolute;
    right: -74.46%;
    left: -37.01%;
    bottom: 61.43%;
    top: -62.06%;
    transform-origin: 0 0;
    transform: rotate(28deg) scale(1, 1);
}

.ellipse-2 {
    background: linear-gradient(145.35deg,
            rgba(198, 48, 248, 0) 0%,
            rgba(47, 86, 248, 1) 100%);
    border-radius: 50%;
    width: 211.47%;
    height: 100.63%;
    position: absolute;
    right: -43.49%;
    left: -67.98%;
    bottom: 52.85%;
    top: -53.48%;
    transform-origin: 0 0;
    transform: rotate(28deg) scale(1, 1);
}

.ellipse-1 {
    background: linear-gradient(137.76deg,
            rgba(82, 100, 249, 1) 0%,
            rgba(58, 249, 239, 1) 100%);
    border-radius: 50%;
    width: 211.47%;
    height: 100.63%;
    position: absolute;
    right: -35.18%;
    left: -76.29%;
    bottom: 63.95%;
    top: -64.59%;
    transform-origin: 0 0;
    transform: rotate(28deg) scale(1, 1);
}

.logo-white-1 {
    width: 60px;
    height: 59px;
    position: absolute;
    left: 52px;
    top: 64px;
    overflow: hidden;
}

.page-1 {
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.welcome-back {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 28px;
    font-weight: 400;
    position: absolute;
    left: 52px;
    top: 139px;
}

.sign-up-button {
    width: 315px;
    height: 8.65%;
    position: absolute;
    left: calc(50% - 157px);
    bottom: 7.58%;
    top: 83.77%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.sign-in-button:hover,
.sign-up-button:hover {
    transform: scale(1.05);
    /* Slightly enlarge the button */
}


.rectangle-2 {
    border-radius: 28px;
    border-style: solid;
    border-color: #2743fd;
    border-width: 1px;
    width: 315px;
    height: 72px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.sign-up {
    color: #2743fd;
    text-align: left;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 20px;
    top: 24px;
}

.mask-group {
    height: auto;
    position: absolute;
    left: 0px;
    top: 1px;
    overflow: visible;
}

.right-arrow-1 {
    width: 19px;
    height: 15px;
    position: absolute;
    left: 269px;
    top: 29px;
    overflow: hidden;
}

.clip-path-group {
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.sign-in-button {
    width: 315px;
    height: 8.65%;
    position: absolute;
    left: calc(50% - 157px);
    bottom: 18.01%;
    top: 65.24%;
}

.rectangle-22 {
    background: linear-gradient(-78.68deg,
            rgba(20, 51, 255, 1) 0%,
            rgba(73, 96, 249, 1) 100%);
    border-radius: 28px;
    width: 315px;
    height: 72px;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0px 8px 16px 0px rgba(27, 57, 255, 0.2);
}

.sign-in {
    color: #ffffff;
    text-align: left;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 19px;
    top: 24px;
}


.mask-group2 {
    height: auto;
    position: absolute;
    left: 0px;
    top: 1px;
    overflow: visible;
}

.clip-path-group2 {
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.light-portrait-1 {
    height: 34px;
    position: absolute;
    right: 128px;
    left: 128px;
    bottom: -2px;
    overflow: hidden;
}

.bars-home-indicator-i-phone-light-portrait {
    width: 100%;
    height: 14.71%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 23.53%;
    top: 61.76%;
    overflow: visible;
}